<% if notice %>
  <p id="notice" class="alert alert-info" role="alert"><%= notice %></p>
<% end %>

<h1>Products</h1>

<div class="container-fluid">
  <div class="row">
  	<% #cache(cache_key_for_products) do %>
      <%= render @products %>
    <%#end %>   
  </div><!-- end row -->
</div><!-- end container -->

<br>

<% if current_user && current_user.admin? %>
  <%= link_to 'New Product', new_product_path %>|<%= link_to 'Edit', edit_product_path(@product) %> 
<% end %>
